@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

:root{
    --pink:#ff004d;
    --blue: #00204a;
    --white: white;
    --yellow: #fdbe34;
}

*{
    font-family: "Jaro", sans-serif;
    letter-spacing: 1px;
}

body{
    background:linear-gradient(var(--blue),var(--pink));
    /* background-size: cover; */
    
    background-repeat: no-repeat;
    height: 90vh;
    color: var(--white);



}
#container{
    margin: 0px auto;
    margin-top: 5%;
    /* border: 1px solid white; */
    border-radius: 30px;
    background:linear-gradient(var(--pink),var(--blue));
    width: 35%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    box-shadow: 10px 10px 20px 2px #000000cc;

}

#container .image{
    width: 100%;
    /* border: 1px solid black; */

    display: flex;
    /* flex-direction: column; */
    justify-content: center;

    /* filter: drop-shadow(2px 2px 20px  rgb(0, 26, 255)); */
    
}
#container .image img{
    width: 50%;
}

#hero{
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.btS{
    /* border: 1px solid rgb(255, 255, 255); */
    margin: 0px auto;
    width: auto;
}
.btS button{
    font-size: 1.1rem;
    box-shadow: 5px 10px 20px 2px #0000009f;
    color: var(--blue);
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
cursor: pointer;
    background-color: var(--yellow);
    transition-duration: 0.4s;
    font-weight: 500;
}
.btS button.v{
    background-color: var(--blue);
    color: white;
}
.btS button:hover{
    box-shadow: 0px 0px 20px 2px #ffffff00;
}
#hero h1{
 letter-spacing: 2px;
    
    
}
.hash{
    color: var(--yellow);
    text-align: center;
    width: 2%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.4rem;

}
.content{
    /* border: 1px solid black; */
    width: 10%;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}


@media screen and (max-width : 600px){
    
    #container{
        width: 100%;
        position: relative;
        margin-top: 7%;
    }

    #container .image img{
        width: 50%;
    }
    
    #hero{
        
        text-align: center;

        

    }
    #hero h1{
        font-size: 1.9rem;
        
        
    }
    .content{
        /* background-color: #00204a; */
        width: 10%;
        text-align: center;

        
        
    }
    .btS button{
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}

